@font-face {
  font-family: "Poppins Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Regular"), url("../assets/Fonts/Poppins/Poppins-Regular.woff") format("woff");
}
@font-face {
  font-family: "Inter Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Inter Bold"), url("../assets/Fonts/Inter/Inter-Bold.woff") format("woff");
}
@font-face {
  font-family: "Inter Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Inter Regular"), url("../assets/Fonts/Inter/Inter-Regular.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  font-size: 25px;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media (min-width: 1201px) {
  .container {
    width: 62%;
  }
}

.header {
  position: relative;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}
.header__nav a {
  text-decoration: none;
  color: #0a0d29;
  font-size: 1.2rem;
  font-family: "Poppins Regular";
}
.header__nav span {
  font-size: 2rem;
  position: relative;
  top: 0.2rem;
}
.header__logo-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.4rem;
}
.header hr {
  border: none;
  padding: 0.025rem;
  background-color: rgba(126, 128, 143, 0.5);
  margin: 3rem 0;
}

.hakkimizda__body {
  background-image: linear-gradient(to left, #eff5f9, #f4f4f4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.2rem 9.6rem 2.3rem 5.7rem;
  border-radius: 2rem;
  margin-bottom: 4.6rem;
}
.hakkimizda__body__txt h1 {
  font-family: "Inter Bold";
  font-size: 3.6rem;
  line-height: 1.25;
  color: #0a0d29;
  margin-bottom: 0.7rem;
}
.hakkimizda__body__txt a {
  font-family: "Inter Regular";
  font-size: 1.2rem;
  color: #6c6e7f;
  text-decoration: none;
}
.hakkimizda__body__txt span {
  font-size: 1.2rem;
  color: #6c6e7f;
}

.body__txt p {
  font-family: "Inter Regular";
  color: #6c6e7f;
  font-size: 1.6rem;
  line-height: 1.63;
  margin-bottom: 2rem;
}
.body__imgs {
  width: 100%;
}
.body__imgs div {
  display: inline-block;
}
.body__imgs div a {
  cursor: zoom-in;
}
.body__imgs div img {
  width: 100%;
  height: 100%;
}
.body__imgs__left {
  width: 75%;
}
.body__imgs__left div:nth-child(1) {
  width: 44.3%;
  padding-right: 1.7%;
}
.body__imgs__left div:nth-child(2) {
  width: 54%;
  margin-bottom: 1.7%;
}
.body__imgs__left div:nth-child(3) {
  width: 66.7%;
  padding-right: 1.7%;
}
.body__imgs__left div:nth-child(4) {
  width: 31.5%;
}
.body__imgs__right {
  width: 24%;
}
.body__imgs__right div {
  width: 100%;
  height: 100%;
}

.sirket-logo {
  margin-bottom: 4rem;
}
.sirket-logo .swiper {
  width: 100%;
  height: 100%;
}
.sirket-logo .swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iletisim {
  margin-bottom: 6rem;
  position: relative;
}
.iletisim__box {
  position: relative;
  background-image: linear-gradient(to left, #0d172e, #2f3d5b);
  border-radius: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.iletisim__box__text {
  width: 45%;
  padding: 6.1rem 0 6.1rem 8.1rem;
}
.iletisim__box__text h2 {
  font-family: "Inter Bold";
  font-size: 4.2rem;
  color: #ffffff;
  margin-bottom: 1.44rem;
  line-height: 1.43;
}
.iletisim__box__text p {
  font-family: "Inter Regular";
  font-size: 1.6rem;
  color: #ffffff;
  line-height: 1.75;
}
.iletisim__box__iletisimegec {
  background-color: #ef4823;
  padding: 1.5rem 4rem;
  border-radius: 1rem;
  margin-right: 4.1rem;
  z-index: 2;
}
.iletisim__box__iletisimegec p {
  font-family: "Inter Regular";
  font-size: 1.6rem;
  color: #ffffff;
}
.iletisim__bg {
  position: relative;
  width: 100%;
}
.iletisim__bg img {
  height: 100%;
  position: absolute;
  opacity: 0.7;
  right: 0px;
  z-index: 1;
}

.footer__body {
  display: grid;
  grid-template-columns: 1.3fr 1fr 1fr 1fr 1.2fr;
}
.footer__body__pointo {
  margin-right: 2rem;
}
.footer__body__pointo p {
  margin-top: 2.3rem;
  color: #6c6e7f;
  font-family: "Inter Regular";
  font-size: 1.4rem;
  line-height: 1.86;
}
.footer__body__pointo a {
  text-decoration: none;
  font-family: "Inter Regular";
  font-weight: bold;
  color: #6C6E7F;
  font-size: 1.4rem;
  line-height: 1.86;
}
.footer__body ul {
  margin-right: 3rem;
  list-style: none;
}
.footer__body ul li {
  font-family: "Inter Bold";
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}
.footer__body ul li:first-child {
  color: #143f6b;
  margin-bottom: 2.6rem;
}
.footer__body ul li a {
  text-decoration: none;
  font-family: "Inter Regular";
  font-size: 1.4rem;
  color: #6c6e7f;
}
.footer__body__iletisim ul {
  margin-right: 0px;
}
.footer__body__iletisim ul li a {
  display: flex;
}
.footer__body__iletisim ul li a img {
  margin-right: 1rem;
}
.footer__body__iletisim ul li a p {
  font-family: "Inter Regular";
  font-size: 1.4rem;
  color: #6c6e7f;
}
.footer__body__iletisim__media {
  display: flex;
  margin-top: 3rem;
}
.footer__body__iletisim__media li {
  margin-right: 1rem;
}
.footer__footer {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__footer__txt p {
  color: #143f6b;
  font-size: 1.2rem;
  font-family: "Inter Regular";
}
.footer__footer__txt span {
  font-size: 1.2rem;
  font-family: "Inter Regular";
  font-weight: bold;
}
.footer__footer__nav ul {
  list-style: none;
  display: flex;
}
.footer__footer__nav ul li {
  margin-left: 4rem;
}
.footer__footer__nav ul li a {
  font-family: "Inter Regular";
  font-size: 1.2rem;
  color: #143f6b;
  text-decoration: none;
}

@media screen and (max-width: 3100px) {
  * {
    font-size: 15px;
  }
}
@media screen and (max-width: 2400px) {
  * {
    font-size: 12px;
  }
}
@media screen and (max-width: 2400px) {
  * {
    font-size: 10px;
  }
}
@media screen and (max-width: 1707px) {
  * {
    font-size: 9px;
  }
}
@media screen and (max-width: 1536px) {
  * {
    font-size: 8px;
  }
}
@media screen and (max-width: 1400px) {
  * {
    font-size: 7px;
  }
}
@media screen and (max-width: 768px) {
  .footer__body {
    grid-template-columns: 1.7fr 1fr;
  }
  .footer__body__pointo {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-bottom: 2rem;
  }
  .footer__body__iletisim img {
    width: 1rem;
    height: 1rem;
  }
  .footer__body__iletisim__media {
    margin-top: 1rem;
  }
  .footer__body__iletisim__media img {
    width: 2rem;
    height: 2rem;
  }
  .footer__footer__nav ul li {
    margin-left: 1rem;
  }
  .iletisim__bg img {
    display: none;
  }
  .iletisim__box {
    padding-bottom: 6.1rem;
    display: block;
  }
  .iletisim__box__text {
    width: 80%;
  }
  .iletisim__box__iletisimegec {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-left: 8.1rem;
  }
}
@media screen and (max-width: 512px) {
  .hakkimizda-img {
    display: none;
  }
}/*# sourceMappingURL=hakkimizda.css.map */